/* font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
}
.primary-btn{
    padding: 20px 43px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    border-radius: 8px;
}

/* header part style start */
header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-col:first-of-type{
    max-width: 700px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 32px 0;
}

/* header part style finish */

/* main part style start */
/* feature section */
.feature{
    max-width: 1440px;
    margin: 100px auto;
}
.feature-heading h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.feature-heading p{
    margin: 0 auto;
    max-width: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 24px auto;
}
.feature-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.flower, .flower-02, .flower-03{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px;
}
.flower-02{
    background: rgba(5, 151, 160, 0.15);
}
.flower-03{
    background: rgba(71, 125, 17, 0.15);
}

.flower-title{
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}

/* support section */

/* main part style finish */